.row
  .col-lg-12
    .bs-component
      .jumbotron
        %h1 GitHub Ranks for 2014
        %p
          GitHub stars rankings for users, organizations and repositories.
        %p
          = link_to '#', class: 'btn btn-primary btn-lg' do
            Sign in with GitHub

.row
  .col-lg-4
    %h2 Users
    %table.table.table-striped.table-hover
      %thead
        %th Rank
        %th User
        %th Stars

      %tbody
        - @users.each do |user|
          %tr
            %td= user.rank
            %td
              = image_tag user.avatar_url, class: 'avatar_image'
              = user.login
            %td= user.stargazers_count
    = link_to '#' do
      Show more »

  .col-lg-4
    %h2 Organizations
    %table.table.table-striped.table-hover
      %thead
        %th Rank
        %th Name
        %th Stars

      %tbody
        - @orgs.each do |org|
          %tr
            %td= org.rank
            %td
              = image_tag org.avatar_url, class: 'avatar_image'
              = org.login
            %td= org.stargazers_count
    = link_to '#' do
      Show more »

  .col-lg-4
    %h2 Repositories
    %table.table.table-striped.table-hover
      %thead
        %th Rank
        %th Name
        %th Stars

      %tbody
        - @repos.each do |repo|
          %tr
            %td= repo.rank
            %td
              - if repo.owner
                = image_tag repo.owner.avatar_url, class: 'avatar_image'
              - if request.from_pc?
                = repo.full_name
              - else
                = repo.name
            %td= repo.stargazers_count
    = link_to '#' do
      Show more »
