- append_page_title 'Top GitHub users and repositories'
= provide :canonical, root_url

.row
  .col-lg-12
    = render_flash :notice

    .bs-component
      .jumbotron
        %h1= page_title
        %p
          GitHub star ranking for users, organizations and repositories.
        - unless user_signed_in?
          %p
            = link_to user_omniauth_authorize_path(:github), class: 'btn btn-primary btn-lg' do
              Sign in with GitHub

.row
  .col-md-4
    %h2= link_to 'Users', users_path
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Rank
          %th User
          %th Star

      %tbody
        - @users.each do |user|
          %tr
            %td= user.rank
            %td
              = link_to user_path(user), class: 'no_underline' do
                = image_tag user.avatar_url, class: 'avatar_image'
              = link_to user_path(user) do
                = user.login
            %td= user.stargazers_count
    = link_to users_path do
      Show more »

  .col-md-4
    %h2= link_to 'Organizations', organizations_path
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Rank
          %th Organization
          %th Star

      %tbody
        - @orgs.each do |org|
          %tr
            %td= org.rank
            %td
              = link_to user_path(org), class: 'no_underline' do
                = image_tag org.avatar_url, class: 'avatar_image'
              = link_to user_path(org) do
                = org.login
            %td= org.stargazers_count
    = link_to organizations_path do
      Show more »

  .col-md-4
    %h2= link_to 'Repositories', repositories_path
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Rank
          %th Repository
          %th Star

      %tbody
        - @repos.each do |repo|
          %tr
            %td= repo.rank
            %td
              - if repo.owner
                = link_to user_path(repo.owner), class: 'no_underline' do
                  = image_tag repo.owner.avatar_url, class: 'avatar_image'
              = link_to user_repository_path(repo.owner, repo) do
                - if request.from_pc?
                  = repo.full_name
                - else
                  = truncate repo.name, length: 20
            %td= repo.stargazers_count
    = link_to repositories_path do
      Show more »
