.row
  .col-lg-12
    .bs-component
      .jumbotron
        %h1 GitHub Ranks for 2014
        %p
          GitHub stars rankings for users, organizations and repositories.
        - unless user_signed_in?
          %p
            = link_to user_omniauth_authorize_path(:github), class: 'btn btn-primary btn-lg' do
              Sign in with GitHub

.row
  .col-lg-4
    %h2 Users
    %table.table.table-striped.table-hover
      %thead
        %th Rank
        %th User
        %th Stars

      %tbody
        - @users.each do |user|
          %tr
            %td= user.rank
            %td
              = link_to user_path(user), class: 'no_underline' do
                = image_tag user.avatar_url, class: 'avatar_image'
              = link_to user_path(user) do
                = user.login
            %td= user.stargazers_count
    = link_to '#' do
      Show more »

  .col-lg-4
    %h2 Organizations
    %table.table.table-striped.table-hover
      %thead
        %th Rank
        %th Organization
        %th Stars

      %tbody
        - @orgs.each do |org|
          %tr
            %td= org.rank
            %td
              = link_to user_path(org), class: 'no_underline' do
                = image_tag org.avatar_url, class: 'avatar_image'
              = link_to user_path(org) do
                = org.login
            %td= org.stargazers_count
    = link_to '#' do
      Show more »

  .col-lg-4
    %h2 Repositories
    %table.table.table-striped.table-hover
      %thead
        %th Rank
        %th Repository
        %th Stars

      %tbody
        - @repos.each do |repo|
          %tr
            %td= repo.rank
            %td
              - if repo.owner
                = link_to user_path(repo.owner), class: 'no_underline' do
                  = image_tag repo.owner.avatar_url, class: 'avatar_image'
              = link_to user_repository_path(repo.owner, repo) do
                - if request.from_pc?
                  = repo.full_name
                - else
                  = truncate repo.name, length: 20
            %td= repo.stargazers_count
    = link_to '#' do
      Show more »
