- prepend_page_title 'Repositories Ranking'
- provide :description, "See the top 1000 GitHub repositories on GitHub Ranking."
= render 'shared/pagination_link', max_page: pagination_limit

.page-header
  %h1
    Repositories Ranking

    %span.pull-right.hidden-xs.hidden-sm
      = limited_paginate @repositories, window: 2, theme: 'no_edge'

.row
  - half  = Repository.default_per_page / 2
  - repositories = @repositories.to_a
  .col-md-6
    .list-group
      = render repositories.first(half)
  .col-md-6
    .list-group
      = render repositories.drop(half)

.text-center.hidden-xs.hidden-sm
  = limited_paginate @repositories, window: 10

.text-center.hidden-md.hidden-lg
  = limited_paginate @repositories, window: 2, theme: 'no_edge'
