.content.container
  %h2.page-title
    Repo Stars (#{@repos_count})

  %section.widget
    %header
      %h4
        Starred Repos

    .body
      %table.table.table-striped.no-margin.mb-sm
        %thead
          %tr
            %th
              rank
            %th
              login
            %th
              star

        %tbody
          - @repos.each_with_rank_by(:stargazers_count) do |repo, rank|
            %tr
              %td
                = rank
              %td
                = image_tag repo.owner.avatar_url, class: 'user_avatar'
                = repo.full_name
              %td
                = repo.stargazers_count
