- prepend_page_title @repo.full_name
- provide :description, "See the rank of #{@repo.full_name} on GitHub Ranking."
- provide :canonical, user_repository_url(@user, @repo)

.row
  .col-md-3.hidden-xs.hidden-sm
    = render 'mini_user_profile', user: @user
  .col-md-8
    .page-header
      %h2
        = link_to user_path(@user) do
          = @user.login
        %span.separator= '/'
        = link_to user_repository_path(@user, @repo) do
          = @repo.name

    .description_wrapper
      .description
        - if @repo.description
          #{@repo.description} -
        = link_to_github @repo.full_name do
          View it on GitHub
          = fa_icon 'external-link'
      - if @repo.homepage.present?
        .homepage
          = link_to @repo.homepage, normalize_url(@repo.homepage)

    .row.repository_info
      .col-xs-6
        .repository_attribute.text-center
          Star
        .repository_value.text-center
          = fa_icon 'star', text: @repo.stargazers_count
      .col-xs-6.text-center
        .repository_attribute.text-center
          Rank
        .repository_value.text-center
          = @repo.rank
