#user_profile{ class: ('updating' if user_signed_in? && @user == current_user && @user.in_queue?) }
  .user_avatar_wrapper.hidden-xs.hidden-sm
    = link_to user_path(user) do
      = image_tag user.avatar_url, class: 'user_avatar'
  %h2.user_login
    = link_to user_path(user) do
      = image_tag user.avatar_url, class: 'user_avatar_small hidden-lg hidden-md'
      = user.login

  .row
    .user_attribute.col-xs-3
      Star
    .user_value.col-xs-9
      = fa_icon 'star', text: user.stargazers_count
  .row
    .user_attribute.col-xs-3
      Rank
    .user_value.col-xs-7
      = user.rank
  .row
    .go_to_github.col-xs-12
      = link_to_github user.login do
        Go to GitHub
        = fa_icon 'external-link'

  - unless user_signed_in? && current_user.in_queue?
    .row
      .queued_at.col-xs-12
        Fetched on #{l(user.updated_at, format: :middle)}

  - if user_signed_in?
    -# Button is rendered by React
    - if @user.type == 'Organization' && current_user.member_of?(@user.login)
      .row
        .col-xs-12
          #update_button{ data: { login: @user.login, label: 'Update stars', path: update_org_user_path(organization: { login: @user.login }) } }
    - elsif @user == current_user
      .row
        .col-xs-12
          #update_button{ data: { login: @user.login, label: 'Update your stars', path: update_myself_user_path } }
