#user_profile{ class: ('updating' if user_signed_in? && @user.in_queue?) }
  .user_avatar_wrapper.hidden-xs.hidden-sm
    = link_to user_path(user) do
      = image_tag user.avatar_url, class: 'user_avatar'
  %h2.user_login
    = link_to user_path(user) do
      = image_tag user.avatar_url, class: 'user_avatar_small hidden-lg hidden-md'
      = user.login

  .row
    .user_attribute.col-xs-3
      Star
    .user_value.col-xs-9
      = fa_icon 'star', text: user.stargazers_count
  .row
    .user_attribute.col-xs-3
      Rank
    .user_value.col-xs-7
      = user.rank
  .row
    .go_to_github.col-xs-12
      = link_to_github user.login do
        Go to GitHub
        = fa_icon 'external-link'

  - unless user_signed_in? && current_user.in_queue?
    .row
      .queued_at.col-xs-12
        Fetched on #{l(user.updated_at, format: :middle)}

  - if user_signed_in?
    .row
      .update_button.col-xs-12
        - if @user.in_queue?
          %span.btn.btn-default.disabled.col-xs-12 Updating your stars...
        - elsif @user.queued_recently?
          %span.btn.btn-default.disabled.col-xs-12 Up to date
        - else
          = link_to update_later_user_path(@user.login), id: 'user-update', class: 'btn btn-info col-xs-12 disabled', data: { login: @user.login }, method: :post, remote: true do
            Update your stars
