= link_to user_path(user), class: 'list-group-item paginated_item' do
  = image_tag user.avatar_url, class: 'avatar_image_big'
  %span.name
    #{user.rank}.
    %span.hidden-xs.hidden-sm
      = truncate user.login, length: 30
    %span.hidden-md.hidden-lg
      = truncate user.login, length: 24
  %span.stargazers_count.pull-right
    = fa_icon 'star'
    = user.stargazers_count
