- prepend_page_title 'Users Ranking'
- provide :description, 'See the top 1000 GitHub users on GitHub Ranking.'
= render 'shared/pagination_link', max_page: pagination_limit, url: users_url

= render_flash :notice
= render_flash :alert

.page-header
  %h1
    Users Ranking

    %span.pull-right.hidden-xs.hidden-sm
      - if current_user
        - if @stale_ids.size > 0
          = link_to "Update #{@stale_ids.size} Stale Users", bulk_update_users_path(ids: @stale_ids),
            class: 'btn btn-info update_stale_button', method: :post, data: { disable_with: 'Requesting...' }
        - else
          = link_to 'Up to date', '#', class: 'btn btn-default disabled update_stale_button'
      = limited_paginate @users, window: 2, theme: 'no_edge'

.row
  - half  = User.default_per_page / 2
  - users = @users.to_a
  .col-md-6
    .list-group
      = render users.first(half)
  .col-md-6
    .list-group
      = render users.drop(half)

.text-center.hidden-xs.hidden-sm
  = limited_paginate @users, window: 10

.text-center.hidden-md.hidden-lg
  = limited_paginate @users, window: 2, theme: 'no_edge'
