.page-header
  %h1
    Users Ranking

    %span.pull-right.hidden-xs.hidden-sm
      = limited_paginate @users, window: 2, theme: 'no_edge'

.row
  - half  = User.default_per_page / 2
  - users = @users.to_a
  .col-lg-6
    .list-group
      = render users.first(half)
  .col-lg-6
    .list-group
      = render users.drop(half)

.text-center.hidden-xs.hidden-sm
  = limited_paginate @users, window: 10

.text-center.hidden-md.hidden-lg
  = limited_paginate @users, window: 2, theme: 'no_edge'
