- prepend_page_title 'Users Ranking'
- provide :description, "See the top 1000 GitHub users on GitHub Ranking."
= render 'shared/pagination_link', max_page: pagination_limit

.page-header
  %h1
    Users Ranking

    %span.pull-right.hidden-xs.hidden-sm
      = limited_paginate @users, window: 2, theme: 'no_edge'

.row
  - half  = User.default_per_page / 2
  - users = @users.to_a
  .col-md-6
    .list-group
      = render users.first(half)
  .col-md-6
    .list-group
      = render users.drop(half)

.text-center.hidden-xs.hidden-sm
  = limited_paginate @users, window: 10

.text-center.hidden-md.hidden-lg
  = limited_paginate @users, window: 2, theme: 'no_edge'
