.content.container
  %h2.page-title
    User Stars (#{@users_count})

  %section.widget
    %header
      %h4
        Starred Users

    .body
      %table.table.table-striped.no-margin.mb-sm
        %thead
          %tr
            %th
              id
            %th
              login
            %th
              type

        %tbody
          - @users.each do |user|
            %tr
              %td
                = user.id
              %td
                = image_tag user.avatar_url, class: 'user_avatar'
                = user.login
              %td
                = user.type
