.content.container
  %h2.page-title
    User Stars (#{@users_count})

  %section.widget
    %header
      %h4
        Starred Users

    .body
      %table.table.table-striped.no-margin.mb-sm
        %thead
          %tr
            %th
              rank
            %th
              login
            %th
              star

        %tbody
          - @users.each_with_rank_by(:stargazers_count) do |user, rank|
            %tr
              %td
                = rank
              %td
                = image_tag user.avatar_url, class: 'user_avatar'
                = user.login
              %td
                = user.stargazers_count
