- prepend_page_title @user.login

.row
  .col-md-3
    = render 'shared/user_profile', user: @user

  .col-md-8
    - if flash[:notice]
      .alert.alert-dismissible.alert-success
        = flash[:notice]

    - if flash[:alert]
      .alert.alert-dismissible.alert-danger
        = flash[:alert]

    .page-header
      %h3
        #{@repositories.total_count} Repositories

    .list-group
      - if @repositories.present?
        - @repositories.each do |repo|
          = link_to user_repository_path(@user, repo), class: 'list-group-item paginated_full_item' do
            %span.login
              = repo.name
            %span.stargazers_count.pull-right
              = fa_icon 'star'
              = repo.stargazers_count
        = paginate @repositories, theme: 'no_edge'

      - else
        .jumbotron
          %h4 #{@user.login} doesn’t have any public repositories yet.
