- page = (params[:page] || 1).to_i

- provide :canonical, "#{url}?page=#{page}"
- content_for :head do
  - if page != 1
    %link{ rel: 'prev', href: "#{url}?page=#{page - 1}" }
  - if page != max_page
    %link{ rel: 'next', href: "#{url}?page=#{page + 1}" }
