#user_profile{ class: ('updating' if user_signed_in? && @user == current_user && @user.in_queue?) }
  .user_avatar_wrapper.hidden-xs.hidden-sm
    = link_to user_path(user) do
      = image_tag user.avatar_url, class: 'user_avatar'
  %h2.user_login
    = link_to user_path(user) do
      = image_tag user.avatar_url, class: 'user_avatar_small hidden-lg hidden-md'
      = user.login

  .row
    .user_attribute.col-xs-3
      Star
    .user_value.col-xs-9
      = fa_icon 'star', text: user.stargazers_count
  .row
    .user_attribute.col-xs-3
      Rank
    .user_value.col-xs-7
      = user.rank
  - unless user_signed_in? && current_user.in_queue?
    .row
      .queued_at.col-xs-12
        Fetched on #{l(user.updated_at, format: :middle)}
  .row
    .go_to_github.col-xs-12
      = link_to_github user.login do
        Go to GitHub
        = fa_icon 'external-link'
  - if user_signed_in? && @user == current_user
    .row
      .col-xs-12
        - if @user.in_queue?
          = link_to update_myself_user_path, class: 'btn btn-default disabled col-xs-12', method: :post do
            Updating your stars...
        - elsif @user.queued_recently?
          = link_to update_myself_user_path, class: 'btn btn-default disabled col-xs-12', method: :post do
            Up to date
        - else
          = link_to update_myself_user_path, class: 'btn btn-info col-xs-12', method: :post do
            Update your stars
