%h3
  Access Tokens (#{AccessToken.count}) - #{link_to 'See answered', answered_access_tokens_path}

%table.table
  %thead
    %tr
      %th User
      %th Enabled
  %tbody
    - @access_tokens.each do |access_token|
      %tr
        %td= access_token.user.login
        %td= access_token.enabled.inspect

= paginate @access_tokens
