- if users.present?
  - if users.total_count > 1
    .page-header
      %h4 We've found #{users.total_count} users
  .list-group
    - users.each do |user|
      = link_to user_path(user), class: 'list-group-item search_result' do
        = image_tag user.avatar_url, class: 'avatar_image_big'
        %span.login
          = user.login
        %span.stargazers_count.pull-right
          = fa_icon 'star'
          = user.stargazers_count
  = sunspot_paginate users

- else
  = render 'no_result'
