- if repos.present?
  - if repos.total_count > 1
    .page-header
      %h4 We've found #{repos.total_count} repositories
  - repos.each do |repo|
    = link_to user_repository_path(repo.owner, repo),
      class: 'list-group-item search_result' do
      = image_tag repo.owner.avatar_url, class: 'avatar_image_big'
      %span.login
        = repo.full_name
      %span.stargazers_count.pull-right
        = fa_icon 'star'
        = repo.stargazers_count
  = sunspot_paginate repos

- else
  = render 'no_result'
