- prepend_page_title 'Organizations Ranking'
- provide :description, "See the top 1000 GitHub organizations on GitHub Ranking."
= render 'shared/pagination_link', max_page: pagination_limit, url: organizations_url

.page-header
  %h1
    Organizations Ranking

    %span.pull-right.hidden-xs.hidden-sm
      = limited_paginate @organizations, window: 2, theme: 'no_edge'

.row
  - half = Organization.default_per_page / 2
  - organizations = @organizations.to_a
  .col-md-6
    .list-group
      = render organizations.first(half)
  .col-md-6
    .list-group
      = render organizations.drop(half)

.text-center.hidden-xs.hidden-sm
  = limited_paginate @organizations, window: 10

.text-center.hidden-md.hidden-lg
  = limited_paginate @organizations, window: 2, theme: 'no_edge'
