.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      = link_to root_url, class: 'navbar-brand' do
        = fa_icon 'github-alt', text: 'GitHub Ranks 2014'
      %button.navbar-toggle{ data: { toggle: 'collapse', target: '#navbar-main' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    #navbar-main.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to users_path do
            Users
        %li
          = link_to organizations_path do
            Organizations
        %li
          = link_to repositories_path do
            Repositories

      - unless controller_path == 'searches'
        = form_tag search_path, method: :get, class: 'navbar-form navbar-left' do
          = search_field_tag :q, params[:q], class: 'form-control cl-lg-8',
            placeholder: 'Search users or repos'

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to user_path(current_user) do
              = image_tag current_user.avatar_url, class: 'login_avatar'
              = current_user.login
          %li
            = link_to devise_session_path, method: :delete do
              = fa_icon 'sign-out'
              %span.hidden-lg.hidden-md.hidden-sm
                Logout

        - else
          %li
            = link_to user_omniauth_authorize_path(:github) do
              Sign in with GitHub
