.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      = link_to root_url, class: 'navbar-brand' do
        = fa_icon 'github-alt', text: page_title
      %button.navbar-toggle{ data: { toggle: 'collapse', target: '#navbar-main' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    #navbar-main.navbar-collapse.collapse
      :ruby
        rankings = {
          'Users'         => users_path,
          'Organizations' => organizations_path,
          'Repositories'  => repositories_path,
        }
      %ul.nav.navbar-nav
        - rankings.each do |name, path|
          %li.hidden-sm{ class: ('active' if request.path == path) }
            = link_to name, path

        %li.dropdown.visible-sm-block
          = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
            Rankings
            %b.caret

          %ul.dropdown-menu
            - rankings.each do |name, path|
              %li{ class: ('active' if request.path == path) }
                = link_to name, path

      = form_tag search_path, method: :get, class: 'navbar-form navbar-left' do
        .form-group
          = search_field_tag :q, params[:q], class: 'form-control cl-lg-8',
            placeholder: 'GitHub username'
        = submit_tag 'Search', class: 'btn btn-default', id: 'header_search'

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to user_path(current_user) do
              = image_tag current_user.avatar_url, class: 'login_avatar'
              = current_user.login
          %li
            = link_to devise_session_path, method: :delete do
              = fa_icon 'sign-out'
              %span.hidden-lg.hidden-md.hidden-sm
                Logout

        - else
          %li
            = link_to user_github_omniauth_authorize_path do
              Sign in with GitHub
