!!!
%html
  %head
    %title GithubRanks
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body{ class: "#{controller_path.gsub(/\//, '_')}_controller #{action_name}_action" }
    .logo
      %h4
        = link_to root_path do
          GitHub
          %strong Ranks
    %nav#sidebar.sidebar.nav-collapse.collapse
      %ul#side-nav.side-nav
        %li.active
          = link_to root_path do
            %i.fa.fa-pencil
            %span.name User stars
        %li
          = link_to root_path do
            %i.fa.fa-area-chart
            %span.name Repo stars

    -# FIXME: clean up
    -# This is converted from light blue's html
    .wrap
      %header.page-header
        .navbar
          %ul.nav.navbar-nav.navbar-right.pull-right
            %li.hidden-xs
              %a#settings{"data-placement" => "bottom", "data-toggle" => "popover", href: "#", title: "Settings"}
                %i.fa.fa-cog
            %li.hidden-xs.dropdown
              %a#account.dropdown-toggle{"data-toggle" => "dropdown", href: "#", title: "Account"}
                %i.fa.fa-user
              %ul#account-menu.dropdown-menu.account{role: "menu"}
                %li.account-picture{role: "presentation"}
                  = image_tag 'light_blue/2.jpg'
                  Philip Daineka
                %li{role: "presentation"}
                  %a.link{href: "form_account.html"}
                    %i.fa.fa-user
                    Profile
                %li{role: "presentation"}
                  %a.link{href: "component_calendar.html"}
                    %i.fa.fa-calendar
                    Calendar
                %li{role: "presentation"}
                  %a.link{href: "#"}
                    %i.fa.fa-inbox
                    Inbox
            %li.divider
            %li.visible-xs
              %a.btn-navbar{"data-target" => ".sidebar", "data-toggle" => "collapse", href: "#", title: ""}
                %i.fa.fa-bars
            %li.hidden-xs
              %a{href: "login.html"}
                %i.fa.fa-sign-out

      = yield
      .loader-wrap.hiding.hide
        %i.fa.fa-circle-o-notch.fa-spin

    / common libraries. required for every page
    %script{src: "assets/light_blue/jquery/dist/jquery.min.js"}
    %script{src: "assets/light_blue/jquery-pjax/jquery.pjax.js"}
    %script{src: "assets/light_blue/bootstrap-sass-official/assets/javascripts/bootstrap.js"}
    %script{src: "assets/light_blue/widgster/widgster.js"}
    %script{src: "assets/light_blue/underscore/underscore.js"}
    / common application js
    %script{src: "assets/light_blue/app.js"}
    %script{src: "assets/light_blue/settings.js"}
    / common templates
    %script#settings-template{type: "text/template"}
      <div class="setting clearfix">
      <div>Background</div>
      <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% dark = background == 'dark'; light = background == 'light';%>
      <button type="button" data-value="dark" class="btn btn-sm btn-default <%= dark? 'active' : '' %>">Dark</button>
      <button type="button" data-value="light" class="btn btn-sm btn-default <%= light? 'active' : '' %>">Light</button>
      </div>
      </div>
      <div class="setting clearfix">
      <div>Sidebar on the</div>
      <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% onRight = sidebar == 'right'%>
      <button type="button" data-value="left" class="btn btn-sm btn-default <%= onRight? '' : 'active' %>">Left</button>
      <button type="button" data-value="right" class="btn btn-sm btn-default <%= onRight? 'active' : '' %>">Right</button>
      </div>
      </div>
      <div class="setting clearfix">
      <div>Sidebar</div>
      <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% display = displaySidebar%>
      <button type="button" data-value="true" class="btn btn-sm btn-default <%= display? 'active' : '' %>">Show</button>
      <button type="button" data-value="false" class="btn btn-sm btn-default <%= display? '' : 'active' %>">Hide</button>
      </div>
      </div>
      <div class="setting clearfix">
      <div>White Version</div>
      <div>
      <a href="../transparent/index.html" class="btn btn-sm btn-default">&nbsp; Switch &nbsp;   <i class="fa fa-angle-right"></i></a>
      </div>
      </div>
    %script#sidebar-settings-template{type: "text/template"}
      <% auto = sidebarState == 'auto'%>
      <% if (auto) {%>
      <button type="button"
      data-value="icons"
      class="btn-icons btn btn-transparent btn-sm">Icons</button>
      <button type="button"
      data-value="auto"
      class="btn-auto btn btn-transparent btn-sm">Auto</button>
      <%} else {%>
      <button type="button"
      data-value="auto"
      class="btn btn-transparent btn-sm">Auto</button>
      <% } %>

    = yield :page_scripts
