!!!
%html
  %head
    %title= content_for(:title) || page_title
    %link{ rel: 'shortcut icon', href: '/favicon.ico' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = analytics_init if Rails.env.production?
    %meta{ name: 'google-site-verification', content: '5m2U2A0v9RAfVOVJfY_dXStBC8iOzZFKxpMk4Eiepi0' }

  %body{ class: "#{controller_path.gsub(/\//, '_')}_controller #{action_name}_action" }
    = render 'layouts/header'

    .container
      = yield

      %footer
        .row
          .col-lg-12
            %p Released by #{link_to '@k0kubun', 'https://github.com/k0kubun'} in December 2014. Fork me on #{link_to 'GitHub', 'https://github.com/k0kubun/githubranking'}.
