!!!
%html
  %head
    %title Githubranks
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          = link_to '#', class: 'navbar-brand' do
            GitHub Ranks
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to '#' do
                Login with GitHub

    .container
      = yield
