!!!
%html
  %head
    %title= content_for(:title) || page_title
    %link{ rel: 'shortcut icon', href: '/favicon.ico' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'description', content: content_for?(:description) ? yield(:description) : 'Gitstar Ranking is a GitHub star ranking. You can see top 1000 users, organizations and repositories. Find your favorite user. See what is your rank.' }
    %meta{ name: 'keywords', content: 'GitHub, Star, Gitstar, Ranking' }
    - if content_for?(:canonical)
      %link{ rel: 'canonical', href: yield(:canonical) }
    - if content_for?(:head)
      = content_for(:head)

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

    = csrf_meta_tags
    = analytics_init if Rails.env.production?
    - if user_signed_in?
      :javascript
        ga('set', 'userId', '#{current_user.id}');
    %script{ 'data-ad-client': 'ca-pub-1394383573150433', async: true, src: 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js' }

  %body{ class: "#{controller_path.gsub(/\//, '_')}_controller #{action_name}_action" }
    = render 'layouts/header'

    .container
      = yield
      .ads_container
        = render 'layouts/ads'
      %footer
        .row
          .col-lg-12
            %p
              Released by #{link_to '@k0kubun', 'https://github.com/k0kubun'} in December 2014. Fork me on #{link_to 'GitHub', 'https://github.com/k0kubun/gitstar-ranking'}.
